<VirtualHost *:80>
  ServerName {{ gerrit_http_hostname }}.{{ pri_domain_name }}
  Redirect permanent / https://{{ gerrit_http_hostname }}.{{ pri_domain_name }}/
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ gerrit_http_hostname }}.{{ pri_domain_name }}

  <Proxy *>
    Order deny,allow
    Allow from all
  </Proxy>

  SSLEngine on
  SSLCertificateFile /etc/apache2/cert/{{ gerrit_http_hostname }}.{{ pri_domain_name }}.crt
  SSLCertificateKeyFile /etc/apache2/cert/{{ gerrit_http_hostname }}.{{ pri_domain_name }}.key

  SSLProxyEngine On
  AllowEncodedSlashes On
  ProxyRequests Off
  ProxyPreserveHost On
  ProxyPass /gitweb !
  ProxyPass / http://localhost:{{ gerrit_http_listen_port }}/ nocanon
  ProxyPassReverse / http://localhost:{{ gerrit_http_listen_port }}/
</VirtualHost>
