[gerrit]
	basePath = git
{% if gerrit_vagrant_install is defined and gerrit_vagrant_install %}
  canonicalWebUrl = http://127.0.0.1:{{ gerrit_http_listen_port }}/
{% elif gerrit_canonical_web_url is defined %}
	canonicalWebUrl = {{ gerrit_canonical_web_url }}
{% endif %}

[database]
{% for item in gerrit_db_info %}
	type = {{ item.type }}
	database = {{ item.db }}
	hostname = {{ item.host }}
	username = {{ item.user }}
{% endfor %}
[index]
	type = LUCENE
[auth]
	type = {{ gerrit_auth_type }}
{% if gerrit_auth_type == "LDAP" %}
        gitBasicAuthPolicy = LDAP
{% endif %}
[sendemail]
	smtpServer = {{ gerrit_smtp_server }}
[container]
	user = {{ gerrit_account_info.name }}
	javaHome = {{ gerrit_java_home }}
[sshd]
	listenAddress = *:{{ gerrit_sshd_listen_port }}
[httpd]
	listenUrl = http://*:{{ gerrit_http_listen_port }}/
[cache]
	directory = cache
[gitweb]
	type = gitweb
	cgi = {{ gitweb_cgi_path }}

{% if (gerrit_auth_type == "LDAP_BIND" or gerrit_auth_type == "LDAP") and gerrit_ldap_info is defined %}
[ldap]
{% set item = gerrit_ldap_info %}
{% if item.server is defined %}
        server = {{ item.server }}
{% endif %}
{% if item.username is defined %}
        username = {{ item.username }}
{% endif %}
{% if item.password is defined %}
        password = {{ item.password }}
{% endif %}
{% if item.accountbase is defined %}
{% for base in item.accountbase %}
        accountBase = {{ base }}
{% endfor %}
{% endif %}
{% if item.accountpattern is defined %}
        accountPattern = {{ item.accountpattern }}
{% endif %}
{% if item.accountscope is defined %}
        accountScope = {{ item.accountscope }}
{% endif %}
{% if item.accountfullname is defined %}
        accountFullName = {{ item.accountfullname }}
{% endif %}
{% if item.accountmemberfield is defined %}
        accountMemberField = {{ item.accountmemberfield }}
{% endif %}
{% if item.accountmemberexpandgroups is defined %}
        accountMemberExpandGroups = {{ item.accountmemberexpandgroups }}
{% endif %}
{% if item.accountemailaddress is defined %}
        accountEmailAddress = {{ item.accountemailaddress }}
{% endif %}
{% if item.accountsshusername is defined %}
        accountSshUserName = {{ item.accountsshusername }}
{% endif %}
{% if item.groupbase is defined %}
{% for base in item.groupbase %}
        groupBase = {{ base }}
{% endfor %}
{% endif %}
{% if item.grouppattern is defined %}
        groupPattern = {{ item.grouppattern }}
{% endif %}
{% if item.groupname is defined %}
        groupName = {{ item.groupname }}
{% endif %}
{% if item.referral is defined %}
        referral = {{ item.referral }}
{% endif %}
{% if item.localusernametolowercase is defined %}
        localUsernameToLowerCase = {{ item.localusernametolowercase }}
{% endif %}
{% if item.fetchmemberofeagerly is defined %}
        fetchMemberOfEagerly = {{ item.fetchmemberofeagerly }}
{% endif %}
{% endif %}

[plugins]
{% if gerrit_allow_remote_admin is defined and gerrit_allow_remote_admin %}
    allowRemoteAdmin = true
{% endif %}
